/*****
==========TABLE OF CONTENTS==========

    0. Action Classes
    1. Navigation
    2. Main Area
=======
    0. Action Classes
    1. Navigation
        a. Calculator
    2. Main Area
=======
	0. Action Classes
	1. Navigation
        a. Calculator
	2. Main Area
  3. To Do List


/*****************TEST CASES*************************/


/*div {

    border: 2px solid red;
}

*/


/** 0. Action Classes
********************************************************/

html {
    width: 100%;
    height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
}

h4 {
    text-align: right;
}

h2 {
    color: white;
    margin-bottom: 2%;
}

h1 {
    text-align: center;
}
button {
    
}

#welcome.hidden {
    display: 0;
}

#welcome {
    margin-top: 8%;
    display: inherit;
    transition: all .7s;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.header {
    color: white;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);

}


/*********************************************************/


/** 1. Navigation 
********************************************************/

.leftNav,
.rightNav {
    height: 100%;
    width: 0;
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.leftNav {
    left: 0;
}

.rightNav {
    right: 2%;
    width: 300px;
    background: transparent;
    min-height: 25%;
}

.leftNav a,
.leftNav button,
.rightNav li {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.4s;
}

.leftNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openMenu {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 28px;
    background-color: transparent;
    color: white;
    border-radius: 5%;
    padding: 0 10px;
}

.openMenu span {
    line-height: 1.5;
    font-size: 30px;
}

.openMenu:hover {
    color: #ccc;
    background: transparent;
}

/* ====================== */
button.accordion {
    border: none;
    background: transparent;
}

button.accordion.active,
button.accordion:hover {
    font-color: #333;
}

div.panel {
    background: transparent;
    padding: 0 2%;  
    display: none;  
}

div.panel > p,
div.panel > ul > li {
    color: #fff;
}



/* a. Calculator
**************************/
#outerBody {
    background: #5b5b5b;
    height: 300px;
    width: 210px;
    border-radius: 2%;
    margin-left: 3%;
}

#window {
    background: #fff;
    height: 90px;
    width: 180px;
    top: 10px;
    left: 15px;
    position: relative;
    border-radius: 2%;
}

#numKey {
    position: relative;
    top: 12px;
    right: 15px;
    margin-left: 20%;
}

#numKey > div > div {
    padding: 0;

}

#numKey > div > div > button {
    color: #333;
    padding: 0;
    height: 30px;
    width: 30px;
}

#numKey > .row {
    margin: 7px 0 0 0;
}


/* 1.A Github History 
*****************************************/

#gitHub {
    color: white;
}

#gitHub input[type="text"] {
    color: black;
}

/** 2.Main Area
********************************************************/

.mainBody {
    color: #fff;
    font-size: 1em;
    margin-top: 5%;
}

.mainBody label {
    margin-top: 5%;
}

.inputStyle h2 {
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#welcome input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 60%;
    color: #fff;
    margin: 2% auto;
    outline: none;
    font-size: 1.2em;
    text-align: center;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#welcome input::placeholder {
    color: white;
    font-size: 1.2em;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}





/** 3. To Do List
********************************************************/

.hidden {
    opacity: 0;
    transition: all .5s;
}

#toDoTitle {
    margin: 5 px;
    padding: 5 px;
    font-size: 1.5em;
    font-weight: 800;
    color: white;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#toggleList {
    background-color: rgba(0, 0, 0, .0);
    border-radius: 10px;
    bottom: 0px;
}

#toggleList li {
    color: white;
    font-size: 1em;
    text-align: left;
    background-color: rgba(0, 0, 0, .5);
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    border: none;
    outline: none;
    margin: 5px;
    padding-right: 5px;
    border-radius: 10px;
    min-height: 30px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

#toggleList span {
    float: right;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    width: 0;
    opacity: 0;
    transition: 0.2s linear;
    color: white;
}

#toggleList li:hover span {
    width: 30px;
    opacity: 1;
    background-color: rgba(225, 0, 0, .5);
    text-align: center;
    border-radius: 30px;
    display: inline;
}

#listItem {
    background: none;
}

div.row.bottom {
    font-size: 1em;
    color: white;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    float: right;
    width: 100%;
    height: auto;
}

#weather {
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 24px;
    float: right;
    height: auto;
}

#weather canvas {
    margin-left: 20px;
}

#todos>li.todoli.completed {
    background-color: rgba(0, 0, 0, .1);
    text-decoration: line-through;
}

#cityList {
    text-align: center;
}

#nameSpace {
    min-height: 65px;
}

#gitName  {
    margin: 20px auto;
    width: 60%;
    text-align: left;
    float: left;
}

#gitPic.hidden {
    display: inline;
}
#gitPic {
    height: 50px;
    width: 50px;
    outline: none !important;
    border: none;
    border-radius: 50px;
    float: left;
    margin-top: 2%;
    margin-right: 2%;
}

/*********************************************************/


/** Chat 
********************************************************/
  #messages { width: 40em; border: 1px solid grey; min-height: 10em; max-height: 20em; overflow:auto; }
  @keyframes yellow-fade { 0% {background: #f2f2b8;} 100% {background: none;} }
  .highlight { -webkit-animation: yellow-fade 2s ease-in 1; animation: yellow-fade 2s ease-in 1; }
  .chatForm{
  clear:both;
  border-top: 1px solid #aaa;
  padding: .5em;
}    
.chatContainer {  /* contains a <ul> and a <form> */
  width: 500px;
  margin:0 auto;
}
.chatFooter {  /* contains a <ul> and a <form> */
  width: 500px;
  margin:0 auto;
}
.chatContainer ul {
  list-style-type: none;
  margin:0;
  padding:0;
}
.chatContainer ul li {
  padding: 5px;
  text-align: right;
  clear:both;
}
.chatContainer ul li .chatBubble {
  padding: 10px 20px;
  margin:0 0 5px 0;
  background-color: #cfa;
  border-radius: 15px;
  display:inline-block;
  max-width: 60%;
  text-align: left;
}
.chatContainer ul li .chatBubble.reply {
  background-color: #bdf;
  float:left;
}
.chatContainer ul li .notice {
  background-color: transparent;
  text-align: right;
  font-style: italic;
  font-size: smaller;
}
.chatContainer ul li .chatBubble img.avatar {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  padding: 0;
  margin: -20px 8px 0px -30px;
  float: left;
  border: 1px solid #bbb;
}

#errorMsg {
    color: red;
    font-size: 18px;
    font-weight: 800;
   min-height: 30px;
       text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
