/*****
==========TABLE OF CONTENTS==========
	0. Action Classes
	1. Navigation
	2. Main Area
    3. To Do List


/*****************TEST CASES*************************/

/*div {

	border: 2px solid red;
}

*/
/** 0. Action Classes
********************************************************/
html {
width: 100%;
height: 100%;
color: white;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    color: white;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}
h1 {
    text-align: center;
}
#welcome.hidden {
    display: 0;
}

#welcome {
    display: inherit;
    transition: all .7s;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

.header {
    color: white;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

/*********************************************************/


/** 1. Navigation 
********************************************************/

.leftNav,
.rightNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

}

.leftNav {
    left: 0;
}

.rightNav {
    right: 2%;
    width: 300px;
    background: transparent;
    min-height: 25%;
}

.leftNav a,
.rightNav li {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.4s;
}

.leftNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openMenu {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 28px;
    background-color: transparent;
    color: white;
    border-radius: 5%;
    padding: 0 10px;
}

.openMenu span {
    line-height: 1.5;
    font-size: 30px;
}

.openMenu:hover {
    color: #ccc;
    background: transparent;
}

/** 2.Main Area
********************************************************/

.mainBody {
    margin-top: 5%;
}

.mainBody h1 {
    color: #fff;
    font-size: 58px;
}

.mainBody label {
    margin-top: 5%;
}

.inputStyle h2 {
    color: #fff;
}

 input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 80%;
    color: #fff;
       margin: 5% auto;
    outline: none;
    font-size: 2em;
    text-align: center;
}


/** 3. To Do List
********************************************************/
.hidden {
    opacity: 0;
    transition: all .5s;
}

#toDoTitle {
     margin: 5 px;
    padding: 5 px;
    font-size: 1.5em;
    font-weight: 800;
    color: white;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

#toggleList {
    background-color: rgba(0, 0, 0, .0);
    border-radius: 10px;
    bottom: 0px;
}

#toggleList li {
    color: white;
    font-size: 1em;
    text-align: left;
    background-color: rgba(0, 0, 0, .5);
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    border: none;
    outline: none;
    margin: 5px;
    padding-right: 5px;
    border-radius: 10px;
    min-height: 30px;
}

input[type="checkbox"] {
    margin-right: 10px;
    
}

#toggleList span {
    float: right;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    width: 0;
    opacity: 0;
    transition: 0.2s linear;
    color: white;

}

#toggleList li:hover span {
    width: 30px;
    opacity: 1;
     background-color: rgba(225, 0, 0, .5);
     text-align: center;
    border-radius: 30px;
    display: inline;
     
}

#listItem {
    background: none;
}

div.row.bottom  {
    font-size: 1em;
    color: white;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    float: right;
    width: 100%;
    height: auto;
}

#weather {
    position: relative;
    bottom: 0;
   right: 2%;
    font-size: 24px;
    float: right;
    height: auto;
}

#weather canvas {
    margin-left: 20px;
}

#todos > li.todoli.completed {
         background-color: rgba(0, 0, 0, .1);

    text-decoration: line-through;
}
