/*****
==========TABLE OF CONTENTS==========
	0. Action Classes
	1. Navigation
	2. Main Area



********************************************************/


/*****************TEST CASES*************************/

/*div {

	border: 2px solid red;
}
*/
/** 0. Action Classes
********************************************************/

#welcome.hidden {
    display: 0;
}

#welcome {
    display: inherit;
    transition: all .7s;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}



/*********************************************************/


/** 1. Navigation 
********************************************************/

.leftNav,
.rightNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.leftNav {
    left: 0;
}

.rightNav {
    right: 0;
    width: 250px;
    background: transparent;
    min-height: 25%;
}

.leftNav a,
.rightNav li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.leftNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openMenu {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 32px;
    background-color: #fff;
    border-radius: 10%;
    padding: 0 10px;
}

.openMenu span {
    line-height: 1.5;
}

.openMenu:hover {
    color: #fff;
    background: #333;
}




/** 2.Main Area
********************************************************/

.mainBody {
    margin-top: 10%;
}

.mainBody h1 {
    color: #fff;
    font-size: 58px;
}

.mainBody label {
    margin-top: 5%;
}

.inputStyle h2 {
    color: #fff;
}

.inputStyle input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    color: #fff;
}


.red {
    background: red;
}

input {
    margin: 5% auto;
    outline: none;
    font-size: 2em;
    text-align: center;
}


/** TO DO LIST **/

.hidden {
    opacity: 0;
    transition: all .5s;
}

#toDoTitle {
    font-size: 20px;
    margin: 5 px;
    padding: 5 px;
}

#toDoTitle {
    font-size: 2em;
    font-weight: 800;
    color: white;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

#toggleList {
    background-color: rgba(0, 0, 0, .0);
    border-radius: 10px;
    bottom: 0px;
}

#toggleList li {
    color: white;
    font-size: 1em;
    text-align: left;
    background-color: rgba(0, 0, 0, .5);
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    border: none;
    outline: none;
    margin: 5px;
    padding: 5px;
      border-radius: 10px;
}

#toggleList span {
    float: right;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    width: 0;
    opacity: 0;
    transition: 0.2s linear;
}

#toggleList li:hover span {
    width: 30px;
    opacity: 1;
     background-color: rgba(225, 0, 0, .5);
     text-align: center;
      border-radius: 50px;
     
}

#listItem {
    background: none;
}

